<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <a (click)="regresar()" class="iconoback"><ion-icon name="arrow-back"></ion-icon></a>
    </ion-buttons>
    <ion-title>{{titulopage}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-segment [(ngModel)]="segmento">

        <ion-segment-button value="PRODUCTOS">
          <ion-label>PRODUCTOS</ion-label>
        </ion-segment-button>
        <ion-segment-button value="NOSOTROS">
          <ion-label>NOSOTROS</ion-label>
        </ion-segment-button>
        <ion-segment-button value="UBICACIONES">
            <ion-label>UBICACIONES</ion-label>
          </ion-segment-button>
  
      </ion-segment>
    <div [ngSwitch]="segmento">
        <div *ngSwitchCase="'PRODUCTOS'">
          <ion-grid>
            <ion-row>
              <ion-col size="6" size-lg="4" size-md="4" *ngFor="let producto of productos">
                <ion-card (click)="cambiarpagina(producto.tokent,producto.tokenp)">
                  <img src="https://publiciadd.000webhostapp.com/images/{{producto['foto']}}"/>
                  <ion-card-header>
                    <ion-card-title>Q {{producto['precio']}}</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div *ngSwitchCase="'NOSOTROS'">
          <div *ngIf="nosotros[0].tokep == 1;else plantilla2">
            <div *ngFor="let nosotro of nosotros">
              <ion-card>
                  <img class="Imagenp1" src="https://publiciadd.000webhostapp.com/images/{{imagenesNS[0].Foto}}"/>
              </ion-card>
              <div>
                <p class="titulo">
                  {{nosotro['Historia']}}
                </p>
                <p>
                    {{nosotro['DescH']}}
                </p>
              </div>
              <ion-card>
                  <img src="https://publiciadd.000webhostapp.com/images/{{imagenesNS[1].Foto}}"/>
              </ion-card>
              <div>
                <p class="titulo">
                  {{nosotro['Mision']}}
                </p>
                <p>
                  {{nosotro['DescM']}}
                </p>
              </div>
              <div>
                <p class="titulo">
                  {{nosotro['Vision']}}
                </p>
                <p>
                  {{nosotro['DescV']}}
                </p>
              </div>
            </div>
          </div>
          <ng-template #plantilla2>
            <div *ngIf="nosotros[0].tokep == 2;else plantilla3">
              <div *ngFor="let nosotro of nosotros">
                <div>
                  <p class="titulo">
                    {{nosotro['Historia']}}
                  </p>
                  <p>
                    {{nosotro['DescH']}}
                  </p>
                </div>
                <div>
                  <ion-card>
                      <img src="https://publiciadd.000webhostapp.com/images/{{imagenesNS[0].Foto}}" />
                  </ion-card>
                </div>
                <div>
                  <p class="titulo">
                    {{nosotro['Mision']}}
                  </p>
                  <p>
                    {{nosotro['DescM']}}
                  </p>
                </div>
                <div>
                  <ion-card>
                      <img src="https://publiciadd.000webhostapp.com/images/{{imagenesNS[1].Foto}}" />
                  </ion-card>
                </div>
                <div>
                  <p class="titulo">
                    {{nosotro['Vision']}}
                  </p>
                  <p>
                    {{nosotro['DescV']}}
                  </p>
                </div>
                <div>
                  <ion-card>
                      <img src="https://publiciadd.000webhostapp.com/images/{{imagenesNS[2].Foto}}" />
                  </ion-card>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template #plantilla3>
            <div *ngFor="let nosotro of nosotros">
              <div>
                <p class="titulo">
                  {{nosotro['Historia']}}
                </p>
                <p>
                  {{nosotro['DescH']}}
                </p>
              </div>
              <div>
                <ion-card>
                  <ion-slides pager="true">
                    <ion-slide>
                      <img id="imgcarrusel" src="https://publiciadd.000webhostapp.com/images/{{imagenesNS[0].Foto}}"/>
                    </ion-slide>
                    <ion-slide>
                      <img id="imgcarrusel" src="https://publiciadd.000webhostapp.com/images/{{imagenesNS[1].Foto}}"/>
                    </ion-slide>
                    <ion-slide>
                      <img id="imgcarrusel" src="https://publiciadd.000webhostapp.com/images/{{imagenesNS[2].Foto}}"/>
                    </ion-slide>
                  </ion-slides>
                </ion-card>
              </div>
              <div>
                <p class="titulo">
                  {{nosotro['Vision']}}
                </p>
                <p>
                  {{nosotro['DescV']}}
                </p>
              </div>
              <div>
                <p class="titulo">
                  {{nosotro['Mision']}}
                </p>
                <p>
                  {{nosotro['DescM']}}
                </p>
              </div>
            </div>
          </ng-template>
        </div>
        <div *ngSwitchCase="'UBICACIONES'">
          <div *ngIf="ubicaciones[0].tokeU == 1;else plantilla2">
            <ion-card>
              <img id="imgcarrusel" src="https://publiciadd.000webhostapp.com/images/{{imagenesUB[0].Foto}}"/>
              <ion-card-header>
                <ion-card-title>{{ubicaciones[0].Lugar}}</ion-card-title>
                <ion-card-title>{{ubicaciones[0].Direccion}}</ion-card-title>
                <ion-card-title>{{ubicaciones[0].PBX}}</ion-card-title>
              </ion-card-header>
            </ion-card>
            <ion-card>
              <img id="imgcarrusel" src="https://publiciadd.000webhostapp.com/images/{{imagenesUB[1].Foto}}"/>
              <ion-card-header>
                <ion-card-title>{{ubicaciones[1].Lugar}}</ion-card-title>
                <ion-card-title>{{ubicaciones[1].Direccion}}</ion-card-title>
                <ion-card-title>{{ubicaciones[1].PBX}}</ion-card-title>
              </ion-card-header>
            </ion-card>
            <ion-card>
              <img id="imgcarrusel" src="https://publiciadd.000webhostapp.com/images/{{imagenesUB[2].Foto}}"/>
              <ion-card-header>
                <ion-card-title>{{ubicaciones[2].Lugar}}</ion-card-title>
                <ion-card-title>{{ubicaciones[2].Direccion}}</ion-card-title>
                <ion-card-title>{{ubicaciones[2].PBX}}</ion-card-title>
              </ion-card-header>
            </ion-card>
            <ion-card>
              <img id="imgcarrusel" src="https://publiciadd.000webhostapp.com/images/{{imagenesUB[3].Foto}}"/>
              <ion-card-header>
                <ion-card-title>{{ubicaciones[3].Lugar}}</ion-card-title>
                <ion-card-title>{{ubicaciones[3].Direccion}}</ion-card-title>
                <ion-card-title>{{ubicaciones[3].PBX}}</ion-card-title>
              </ion-card-header>
            </ion-card>
          </div>
          <ng-template #plantilla2>
            <div>
              <ion-card>
                <ion-slides pager="true">
                  <ion-slide *ngFor="let imagen of imagenesUB">
                    <img id="carruselU" src="https://publiciadd.000webhostapp.com/images/{{imagen.Foto}}"/>
                  </ion-slide>
                </ion-slides>
              </ion-card>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{ubicaciones[0].Lugar}}</ion-card-title>
                  <ion-card-title>{{ubicaciones[0].Direccion}}</ion-card-title>
                  <ion-card-title>{{ubicaciones[0].PBX}}</ion-card-title>
                </ion-card-header>
              </ion-card>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{ubicaciones[1].Lugar}}</ion-card-title>
                  <ion-card-title>{{ubicaciones[1].Direccion}}</ion-card-title>
                  <ion-card-title>{{ubicaciones[1].PBX}}</ion-card-title>
                </ion-card-header>
              </ion-card>
            </div>
          </ng-template>
        </div>
      </div>
</ion-content>
