<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <a (click)="regresar()" class="iconoback"><ion-icon name="arrow-back"></ion-icon></a>
    </ion-buttons>
    <ion-title>{{titulopage}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-segment [(ngModel)]="segmento">

        <ion-segment-button value="PRODUCTOS">
          <ion-label>PRODUCTOS</ion-label>
        </ion-segment-button>
        <ion-segment-button value="NOSOTROS">
          <ion-label>NOSOTROS</ion-label>
        </ion-segment-button>
        <ion-segment-button value="UBICACIONES">
            <ion-label>UBICACIONES</ion-label>
          </ion-segment-button>
  
      </ion-segment>
    <div [ngSwitch]="segmento">
        <div *ngSwitchCase="'PRODUCTOS'">
          <ion-grid>
            <ion-row>
              <ion-col size="6" size-lg="4" size-md="4" *ngFor="let producto of productos">
                <ion-card (click)="cambiarpagina()">
                  <img src="https://publiciadd.000webhostapp.com/images/{{producto['foto']}}"/>
                  <ion-card-header>
                    <ion-card-title>Q {{producto['precio']}}</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div *ngSwitchCase="'NOSOTROS'">
          <div *ngIf="nosotros[0].tokep == 1;else plantilla2">
            <div *ngFor="let nosotro of nosotros">
              <ion-card>
                  <img class="Imagenp1" src="https://publiciadd.000webhostapp.com/images/{{imagenes[0].Foto}}"/>
              </ion-card>
              <div>
                <p class="titulo">
                  {{nosotro['Historia']}}
                </p>
                <p>
                    {{nosotro['DescH']}}
                </p>
              </div>
              <ion-card>
                  <img src="https://publiciadd.000webhostapp.com/images/{{imagenes[1].Foto}}"/>
              </ion-card>
              <div>
                <p class="titulo">
                  {{nosotro['Mision']}}
                </p>
                <p>
                  {{nosotro['DescM']}}
                </p>
              </div>
              <div>
                <p class="titulo">
                  {{nosotro['Vision']}}
                </p>
                <p>
                  {{nosotro['DescV']}}
                </p>
              </div>
            </div>
          </div>
          <ng-template #plantilla2>
            <div *ngIf="nosotros[0].tokep == 2;else plantilla3">
              <div *ngFor="let nosotro of nosotros">
                <div>
                  <p class="titulo">
                    {{nosotro['Historia']}}
                  </p>
                  <p>
                    {{nosotro['DescH']}}
                  </p>
                </div>
                <div>
                  <ion-card>
                      <img src="https://publiciadd.000webhostapp.com/images/{{imagenes[0].Foto}}" />
                  </ion-card>
                </div>
                <div>
                  <p class="titulo">
                    {{nosotro['Mision']}}
                  </p>
                  <p>
                    {{nosotro['DescM']}}
                  </p>
                </div>
                <div>
                  <ion-card>
                      <img src="https://publiciadd.000webhostapp.com/images/{{imagenes[1].Foto}}" />
                  </ion-card>
                </div>
                <div>
                  <p class="titulo">
                    {{nosotro['Vision']}}
                  </p>
                  <p>
                    {{nosotro['DescV']}}
                  </p>
                </div>
                <div>
                  <ion-card>
                      <img src="https://publiciadd.000webhostapp.com/images/{{imagenes[2].Foto}}" />
                  </ion-card>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template #plantilla3>
            <div *ngFor="let nosotro of nosotros">
              <div>
                <p class="titulo">
                  {{nosotro['Historia']}}
                </p>
                <p>
                  {{nosotro['DescH']}}
                </p>
              </div>
              <div>
                <ion-card>
                  <ion-slides pager="true">
                    <ion-slide>
                      <img id="imgcarrusel" src="https://publiciadd.000webhostapp.com/images/{{imagenes[0].Foto}}"/>
                    </ion-slide>
                    <ion-slide>
                      <img id="imgcarrusel" src="https://publiciadd.000webhostapp.com/images/{{imagenes[1].Foto}}"/>
                    </ion-slide>
                    <ion-slide>
                      <img id="imgcarrusel" src="https://publiciadd.000webhostapp.com/images/{{imagenes[2].Foto}}"/>
                    </ion-slide>
                  </ion-slides>
                </ion-card>
              </div>
              <div>
                <p class="titulo">
                  {{nosotro['Vision']}}
                </p>
                <p>
                  {{nosotro['DescV']}}
                </p>
              </div>
              <div>
                <p class="titulo">
                  {{nosotro['Mision']}}
                </p>
                <p>
                  {{nosotro['DescM']}}
                </p>
              </div>
            </div>
          </ng-template>
        </div>
        <div *ngSwitchCase="'UBICACIONES'">
          <div *ngIf="show == 1;else plantilla2">
            <ion-card>
              <img id="imgcarrusel" src="../assets/images/h1.jpg"/>
              <ion-card-header>
                <ion-card-title>Calle Suger</ion-card-title>
                <ion-card-subtitle>1av. 4 calle galileo</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </div>
          <ng-template #plantilla2>
            <div>
              <ion-card>
                <ion-slides pager="true">
                  <ion-slide>
                    <img id="carruselU" src="../assets/images/h1.jpg"/>
                  </ion-slide>
                </ion-slides>
              </ion-card>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Calle Suger</ion-card-title>
                  <ion-card-subtitle>1av. 4 calle galileo</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Calle Suger</ion-card-title>
                  <ion-card-subtitle>1av. 4 calle galileo</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </div>
          </ng-template>
        </div>
      </div>
</ion-content>
