<ion-content>
<div>
  <a (click)="regresar()" class="iconoback"><ion-icon name="arrow-back"></ion-icon></a>
  <img id="carruselU" src="../assets/images/h1.jpg"/>
</div>
  <ion-card>
    <ion-card-header>
      <ion-card-title><ion-label id="Titulo">Pollo con Papas</ion-label></ion-card-title>
      <ion-card-title><ion-label id="Precio">Q 150.0</ion-label></ion-card-title>
    </ion-card-header>
      
    <ion-card-content>
      <ion-label id="Decripcion">
        Hola como estan jajaja me duele la verguini,
        Hola como estan jajaja me duele la verguini,
        Hola como estan jajaja me duele la verguini,
        Hola como estan jajaja me duele la verguini
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
