<ion-header>
  <ion-toolbar>
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid style="background: #191919;">
        <ion-row>
          <ion-col>
            <ion-card style="background: #272727;" (click)="tiponegocio('Ferreterias')">
              <ion-card-header>
                <img src="../assets/images/f1.png" />
              </ion-card-header>
              <ion-card-content>
                Ferreterias
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card style="background: #272727;" (click)="tiponegocio('Farmacias')">
              <ion-card-header>
              <img src="../assets/images/botiquin.png" />
              </ion-card-header>
              <ion-card-content>
                Farmacias
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-card style="background: #272727;" (click)="tiponegocio('Librerias')">
              <ion-card-header>
                <img src="../assets/images/libreria.png" />
              </ion-card-header>
              <ion-card-content>
                Librerias
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card style="background: #272727;" (click)="tiponegocio('Tecnologia')">
              <ion-card-header>
                <img src="../assets/images/tecnologia.png" />
              </ion-card-header>
              <ion-card-content>
                Tecnologia
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-card style="background: #272727;" (click)="tiponegocio('Electronicas')">
              <ion-card-header>
                <img src="../assets/images/Electronicas.png" />
              </ion-card-header>
              <ion-card-content>
                Electronicas
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card style="background: #272727;" (click)="tiponegocio('Deportes')">
              <ion-card-header>
                <img src="../assets/images/corredor.png" />
              </ion-card-header>
              <ion-card-content>
                Deportes
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-card style="background: #272727;" (click)="tiponegocio('Bellezas')">
              <ion-card-header>
                <img src="../assets/images/belleza.png" />
              </ion-card-header>
              <ion-card-content>
                Belleza
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card style="background: #272727;" (click)="tiponegocio('Cocina')">
              <ion-card-header>
                <img src="../assets/images/chef.png" />
              </ion-card-header>
              <ion-card-content>
                Cocina
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-card style="background: #272727;" (click)="tiponegocio('Musica')">
              <ion-card-header>
                <img src="../assets/images/musica.png" />
              </ion-card-header>
              <ion-card-content>
                Musica
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
