<ion-content>
  <ion-row justify-content-center align-items-center style='height: 100%'>
  <div class="contenedor">
    <div id="Titulo">
      <label>Log In</label>
    </div>
    <ion-item>
      <ion-label id="inputs" position="stacked">CORREO ELECTRONICO</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label id="inputs" position="stacked">CONTRASEÑA</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <div id="buttonlogin">
      <ion-button fill=outline (click)="Chequear()">
        Log In
      </ion-button>
    </div>
  </div>
  </ion-row>
</ion-content>
