ion-toolbar{
    --background: #191919;
    color: #ffffff;
}
ion-content{
    --background: #191919;
}
ion-list{
    background: #191919;
}
ion-item{
    --background: #191919;
}
ion-card{
    --background: #272727;
    color: #ffffff;
    width: 100%;
}
img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
ion-title{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}